html {
    position: relative;
    min-height: 100%;
}

header {
    background-color: #cf6123;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0px 0px 10px 0px;
    padding: 40px 0px 30px 0px;
}

.navbar a:first-child {
    position: absolute;
    left: 20px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#nombrepag {
    font-family: "Macondo", cursive;
    font-size: 45px;
    font-style: normal;
    text-align: center;
    margin: 0px;
}

footer {
    background-color: #993918;
    margin-bottom: 0;
    padding: 20px 0;
}

footer p {
    font-family: "Averia Libre", system-ui;
    font-size: 18px;
    color: white;
    margin-top: 6px;
}